{% extends 'base.html' %}
<title>{% block title %}เข้าสู่ระบบ{% endblock %}</title>
{% block content %}
<style>
    .form {
        width: 100%;
        max-width: 360px;
        /* ไม่เกิน 360px */
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 0px 0px 4px rgba(52, 52, 53, 0.185);
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin: 0 auto;
        /* กึ่งกลางแนวนอน */
    }

    /* สำหรับมือถือจอเล็กกว่า 480px */
    @media (max-width: 360px) {
        .form {
            max-width: 75%;
            /* ขยายเต็มจอแต่มีขอบ */
            padding: 15px;
        }

        .title {
            font-size: 1.5rem;
        }

        .input,
        .submit {
            font-size: 1rem;
            padding: 8px;
        }
    }


    .title {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
        color: #1a202c;
    }

    .label {
        color: rgb(0, 0, 0);
        margin-bottom: 4px;
    }

    .input {
        padding: 10px;
        margin-bottom: 20px;
        width: 100%;
        font-size: 1rem;
        color: #4a5568;
        outline: none;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: all 0.2s ease-in-out;
    }

    .input:focus {
        background-color: #fff;
        box-shadow: 0 0 0 2px #cbd5e0;
    }

    .input:valid {
        border: 1px solid green;
    }

    .input:invalid {
        border: 1px solid rgba(14, 14, 14, 0.205);
    }

    .submit {
        background-color: #1a202c;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
</style>

<body class="bg-gray-100 items-center justify-center">
    <div style="min-height: 100vh; display: flex; align-items: center; justify-content: center;">
    <div class="card p-4 bg-white rounded-xl shadow-lg" 
         style="max-width: 320px; width: 100%; transform: translateY(-80px);">
        <form class="form" method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <span class="title">Login</span>
            <label for="username" class="label">Username</label>
            <input type="text" id="username" name="username" required class="input">
            <label for="password" class="label">Password</label>
            <input type="password" id="password" name="password" required class="input">
            <button type="submit" class="submit">Login</button>
        </form>
    </div>
</div>
</body>
{% endblock %}